.parentConatiner{
    display: flex;
    justify-content: center;
}

.container{
    border: 1px , solid , black;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    padding: 10px;
}
.container p {
    font-size: 30px;
    font-weight: 600;
}
.inputField{
    width: 90%;
    height: 80px;
    text-align: center;
}
.buttonConatiner{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    width: 26%;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    font-weight: 500;
}